torch
torchaudio
transformers
accelerate
sentencepiece
openai-whisper
sounddevice
soundfile
python-dotenv
fastapi
uvicorn
streamlit
chromadb
gTTS
sentence-transformers
pydantic
google-generativeai
pydub
numpy
jinja2
python-multipart
pypdf